<form [formGroup]="orderForm" class="place-order-container" (ngSubmit) = "placeOrder()">
  <mat-form-field>
    <input type="number" formControlName="Distance" matInput placeholder="Distance from office" >
  </mat-form-field>

  <mat-form-field>
    <input type="number" formControlName="NoOfFloors" matInput placeholder="Floor no" >
  </mat-form-field>

  <mat-form-field>
    <input type="text" formControlName="Coupon" matInput placeholder="Coupon code" >
  </mat-form-field>

  <mat-form-field>
    <input [min]="minDate" formControlName="DeliveryDate" matInput [matDatepicker]="picker" placeholder="Choose a delivery date"s>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button type="submit" [disabled]="!orderForm.valid" mat-button>Place Order</button>
</form>

Estimeted price : {{estimatedPrice}}